doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title
    | Webpack example
body
  h1.title
    | This is a Webpack example
  button.simple-button(id="mainButton" type="button")
    | Hello!
  img(src=require('./assets/vue.png'))
